.home {
  text-align: center;

  &__input {
    padding: $size3;
    width: 30%;
  }

  &__issues {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__issues__link {
    text-decoration: none;
    margin: $size9;
  }

  &__issues__message {
    font-size: $size9;
    margin-top: $size11;
  }
}
